.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
 }

 .logo {
     width: 100px;
     height: 100px;
 }

 .headshot {
    width: 250px;
    height: 250px;
    margin-left: 6px;
}

 .align-center {
     display: flex;
     justify-content: center;
 }

 .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
}

/* .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} */