.App {
  text-align: center;
}

.test-bg {
  background-color: #282c34;
}

.root {
  min-height: 100vh;
}

#root {
  background-color: #FFFFFF;
}

.parent-box {
  /* min-height: calc(100vh - 60px); */
  min-height: auto;
  padding-bottom: 5px;
}